$col-background: rgb(234, 234, 234);
$col-font: rgb(5, 5, 15);
$col-layout: rgb(245, 201, 49);
$col-bg-btn: darkblue;
$col-btn: #FAFAFA;
$col-emphasis: rgb(27, 139, 139);

$rds-btn: 8px;

$spin-dur: 3000ms;

$max-screen-width: 1040px;